<script type="text/javascript">
/*function removeElement (id) {
	// body...
	i = 0
	while (i < 2) {
    	var elem = document.getElementById(id);
		elem.parentNode.removeChild(elem);
    	i++;
	}
}*/
</script>
<h1>File Upload</h1>
<%= form_tag({action: :create}, multipart: true) do %>
    <p><label for="upload_file">Select File</label> : 
    <%= file_field("upload", "datafile") %></p>
    <%= submit_tag "Upload" %>
<% end %>
<p>Hello <%= session[:hello] %></p>
<div id="ajaxDelete">
<%= render partial: "file", object: @arr %>

</div>
<%= link_to "New User", action: :shutdownSession %>